---
layout: default
---
<h2>六界第一美男烧饼铺-油菜佐食</h2>

<h1>歌颂美男的诗词歌赋，散发着油菜花的香气，赏心悦目，入口即化，口感酥滑。</h1>

<hr>

<ul>
  <li>
    <p><strong>1. 时评分析</strong></p>
<ul>
{%for post in site.posts %}
       {% if post.tag == '评' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ul>
<hr>
  <li>
    <p><strong>2. 诗词歌赋</strong></p>
      <ul>
{%for post in site.posts %}
       {% if post.tag == '文' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ul>
<hr>
  <li>
    <p><strong>3. 美图品鉴</strong></p>
       <ul>
{%for post in site.posts %}
       {% if post.tag == '图' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ul>
<hr>
  <li>
    <p><strong>4. 心路感言</strong></p>
      <ul>
{%for post in site.posts %}
       {% if post.tag == '感' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ul>
    </li>
</ul>
