---
layout: youcailo
exclude_from_search: true
---
<h2>六界第一美男烧饼铺-油菜佐食</h2>

<h1>歌颂美男的诗词歌赋，散发着油菜花的香气，赏心悦目，入口即化，口感酥滑。</h1>

<hr>
<div class="header">
  <h1>油菜清单 | <a href="#dxjja">时评分析</a> |
      <a href="#dxjjb">诗词歌赋</a> |
      <a href="#dxjjc">美图品鉴</a> |
      <a href="#dxjjd">心路感言</a></h1>
</div>
<hr>

<a class="anchor" name="dxjja"></a>
<h1><strong>1. 时评分析</strong></h1>
<ul><ol>
{%for post in site.posts %}
       {% if post.tag == '评' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ol></ul>
<hr>

<a class="anchor" name="dxjjb"></a>
<h1><strong>2. 诗词歌赋</strong></h1>
<ul><ol>
{%for post in site.posts %}
       {% if post.tag == '文' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ol></ul>
<hr>

<a class="anchor" name="dxjjc"></a>
<h1><strong>3. 美图品鉴</strong></h1>
<ul><ol>
{%for post in site.posts %}
       {% if post.tag == '图' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ol></ul>
<hr>

<a class="anchor" name="dxjjd"></a>
<h1><strong>4. 心路感言</strong></h1>
<ul><ol>
{%for post in site.posts %}
       {% if post.tag == '感' %}
            <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }} | {{ post.author }}</a></li>
        {% endif %}
{% endfor %}
</ol></ul>

