<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
{% include isso-comments.html %}
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/huanying.html">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ site.baseurl }}/huanying.html">欢迎</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/shichui.html">实锤</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/youcai.html">油菜</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/yaohe.html">吆喝</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/meibing.html">美饼</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/index.html">上新</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/archive.html">饼仓</a></li>
                </ul>
              </div>
        </div>
    </div>
</div>

{% include analytics.html %}