<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <h1>油菜佐食</h1>
    <ul>
        <li><a href="{{ site.baseurl }}/youcai.html">佐食菜单</a></li>
        <li><a href="{{ site.baseurl }}/yaohe.html">伦语辞典</a></li>
        <li><a href="{{ site.baseurl }}/yaohe.html">论文感言</a></li>
        <li><a href="{{ site.baseurl }}/fenlei.html">诗词歌赋</a></li>
        <li><a href="{{ site.baseurl }}/fenlei.html">美图品鉴</a></li>
</ul>
</div>

<div class="sidebar well">
    <h1>客官有请</h1>
    <ul>
        <li><a href="{{ site.baseurl }}/huanying.html">欢迎光临</a></li>
        <li><a href="{{ site.baseurl }}/shichui.html">实锤特供</a></li>
        <li><a href="{{ site.baseurl }}/youcai.html">油菜佐食</a></li>
        <li><a href="{{ site.baseurl }}/daiyan.html">忌口清单</a></li>
        <li><a href="http://www.12377.cn/node_552908.htm">举手之劳</a></li>
</ul>
</div>

<div class="sidebar well">
    <h1>新饼尝鲜</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.tag }}·{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>