<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <h1>客官有请</h1>
    <ul>
        <li><a href="{{ site.baseurl }}/shichui.html">实锤特供</a></li>
        <li><a href="{{ site.baseurl }}/youcai.html">油菜佐食</a></li>
        <li><a href="{{ site.baseurl }}/daiyan.html">忌口清单</a></li>
        <li><a href="https://www.facebook.com/groups/2236391303316814/">脸书道友</a></li>
        <li><a href="http://www.12377.cn/node_552908.htm">举手之劳</a></li>
</ul>
</div>

<div class="sidebar well">
    <h1>掌柜推荐</h1>
    <ul>
        <li><a href="{{ site.baseurl }}/shichui.html">镇店之宝实锤特供</a></li>
        <li><a href="{{ site.baseurl }}/2018/11/面向吃瓜路人的科普帖">面向吃瓜路人的科普帖</a></li>
        <li><a href="{{ site.baseurl }}/2018/11/烧饼宴背后的疑账">烧饼宴背后的集资疑账</a></li>
        <li><a href="{{ site.baseurl }}/2018/11/总结香蜜期间的网暴乱象">天涯人总结香蜜屠龙十日</a></li>
        <li><a href="{{ site.baseurl}}/2018/11/大数据分析香蜜N问">大数据分析香蜜内网海军操作</a></li>
</ul>
</div>


<div class="sidebar well">
    <h1>新饼尝鲜</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.tag }}·{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
