<div class="sidebar well">
{{ site.description }}
</div>

<div class="sidebar well">
    <h1>客官有请</h1>
    <ul>
        <li><a href="{{ site.baseurl }}/huanying.html">欢迎光临</a></li>
        <li><a href="{{ site.baseurl }}/shichui.html">实锤特供</a></li>
        <li><a href="{{ site.baseurl }}/youcai.html">油菜佐食</a></li>
        <li><a href="{{ site.baseurl }}/daiyan.html">忌口清单</a></li>
        <li><a href="http://www.12377.cn/node_552908.htm">举手之劳</a></li>
</ul>
</div>

<div class="sidebar well">
    <h1>掌柜推荐</h1>
    <ul>
        <li><a href="{{ site.baseurl }}/shichui.html">镇店之宝实锤特供</a></li>
        <li><a href="{{ site.baseurl }}/2018/11/烧饼宴背后的疑账">烧饼宴背后的后援疑账</a></li>
        <li><a href="{{ site.baseurl}}/2018/11/从内外网评论大数据看香蜜">大数据分析香蜜N问</a></li>
        <li><a href="{{ site.baseurl }}/2018/11/惊闻我们将成为被告">美男楼心路总结</a></li>
</ul>
</div>


<div class="sidebar well">
    <h1>新饼尝鲜</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.tag }}·{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
